/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid&display=swap');
 */

@font-face {
    font-family: "FNB";
    src: url("../fonts/FNB_sans/FNB-Sans-Regular.otf");
}
@font-face {
    font-family: "FNB_bold";
    src: url("../fonts/FNB_sans/FNB-Sans-Bold.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-FNB box-border;
}
/* 
 */

body {
    @apply w-screen relative h-auto;
}
/* .bg-effect {
    @apply bg-body_bg absolute top-[200px] left-0 w-full;
    will-change: transform;
    height: calc(100% - 250px);
    background-repeat: no-repeat;
    background-position: -5px -64px;
    -webkit-transition: 0.7s cubic-bezier(0, 0, 0.51, 0.99);
    transition: 0.7s cubic-bezier(0, 0, 0.51, 0.99);
  }


  .error, .error:hover, .error:focus {
    border-color: #e03400;
    -webkit-box-shadow: 0px 0px 10px rgba(224,52,0,0.3);
    box-shadow: 0px 0px 10px rgba(224,52,0,0.3);
}


#form .form_item input[type=text].error, #form .form_item input[type=tel].error, #form .form_item input[type=number].error, #form .form_item input[type=email].error, #form .form_item .nationality_input.error, #form .form_item input[type=text].error:focus, #form .form_item input[type=tel].error:focus, #form .form_item input[type=number].error:focus, #form .form_item input[type=email].error:focus, #form .form_item .nationality_input.error:focus, #form .form_item input[type=text].error:hover, #form .form_item input[type=tel].error:hover, #form .form_item input[type=number].error:hover, #form .form_item input[type=email].error:hover, #form .form_item .nationality_input.error:hover {
    border-color: #e03400;
    -webkit-box-shadow: 0px 0px 10px rgba(224,52,0,0.3);
    box-shadow: 0px 0px 10px rgba(224,52,0,0.3);
} */

@media(min-width: 300px)and (max-width: 575.98px) {
    /* .bg-effect {
        @apply hidden;
    } */
}
  