
.vjs-custom .vjs-poster img {
    @apply object-cover;
}

.vjs-custom .vjs-big-play-button {
    background: none;
    border: none;
    color: #ee0b02;
    font-size: 150px;
    height: 150px;
    left: 50%;
    line-height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    top: 50%;
    /* transform: translateX(50%); */
    width: 150px;
}
.vjs-custom .vjs-big-play-button:focus, .vjs-custom:hover .vjs-big-play-button {
    background-color: initial;
    color: #fff;
    border-color: #fff;
    transition: all 0s;
}

/* // X-Small devices (portrait phones, less than 576px) */
    @media(min-width: 300px)and (max-width: 575.98px) {
        .vjs-custom .vjs-big-play-button {
            font-size: 100px;
            height: 0px;
            left: 50%;
            line-height: 70px;
            margin-left: -35px;
            margin-top: -35px;
            top: 50%;
            /* transform: translateX(50%); */
            width: 0px;
        }
    }

    /* // Small devices (landscape phones, less than 768px) */
    @media(min-width: 577px)and (max-width: 767.98px) {

    }

    /* // Medium devices (tablets, less than 992px) */
    @media(min-width: 767.99px)and (max-width: 991.98px) {
    
    }

    /* // Large devices (desktops, less than 1200px) */
    @media(min-width: 991.99px)and (max-width: 1199.98px) {
        
        
    }